# These files are text files and their line endings should be normalized.
# Details: https://git-scm.com/docs/gitattributes#_text
*.lock         text
*.md           text
*.py           text
*.toml         text
.earthignore   text
.gitattributes text
.gitignore     text
Earthfile      text
